﻿@model ID7Digital.EventBook.Services.ViewModels.ActivationEmailModel



@{
    ViewBag.Title = "ActivationEmail";
}

<h2>ActivationEmail</h2>

 <p>Dear @Model.FirstName,</p>
    <p>You recently registered for an IRIS account.</p>
    <p>Your username is: @Model.UserName</p> 
    <p>To complete setup of your account please click the following link: @Model.ActivationLink</p>