﻿@*@model ID7Digital.EventBook.Services.ViewModels.SignInModel

@{
    ViewBag.Title = "Index";
}

@Html.Partial("../AccountManagement/SignIn", Model)*@
@using System.Web
@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security


@if (Request.IsAuthenticated)
{
    <h3>Welcome @User.Identity.GetUserName() </h3>

    // Angular directives
    // Main name of the ng module, and controller to manage the services, ng view for where view directed in spa.
    <div data-ng-app="main" data-ng-controller="RootController">
        <ul>
            <li data-ng-class="{active : activeViewPath==='/demo'}"><a href="#/demo">Demo</a></li>
            <li data-ng-class="{active : activeViewPath==='/account'}"><a href="#/account">Account Settings</a></li>
        </ul>
        <div data-ng-view=""></div>
    </div>

}
else
{
    <h4>You are not logged in, Please use a service to log in.</h4>
    <hr />

    //get list of configured external authentication middleware
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>There are no external authentication services configured</p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Event"))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType"
                                name="provider" value="@p.AuthenticationType"
                                title="Log in using your @p.Caption account">
                            @p.AuthenticationType
                            </button>
                    }
                </p>
            </div>
        }
    }
}