﻿@{
    ViewBag.Title = "InitialRegistration";
}

 <h1>EventBook Account</h1>
        <h2>Thank you for registering.</h2>
        <p>An email confirmation has been sent to you. Please click the authentication link in the email to finish setting up your account.</p>
