﻿@model ID7Digital.EventBook.Services.ViewModels.ResetPasswordModel
@{
    ViewBag.Title = "Set Password";
}


@using (Html.BeginForm("SetPassword", "Event", FormMethod.Post))
{
    <fieldset>
        <legend>Set Password</legend>
          @Html.HiddenFor(x => x.UserName)

        <div class="editor-label">
            @Html.LabelFor(x => x.NewPassword)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.NewPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(x => x.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.ConfirmPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(x => x.SecretQuestion)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.SecretQuestion)
        </div>
        <div class="editor-label">
            @Html.LabelFor(x => x.SecretQuestionAnswer)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.SecretQuestionAnswer)
        </div>
        <p>
            <input type="submit" value="Change Password" />
        </p>
    </fieldset>
}


