﻿@model ID7Digital.EventBook.Services.ViewModels.SignUpModel

@{
   Layout = "../Shared/_Layout.SignUp.cshtml"; 
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SignUpModel</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName, new { data_val = "true", data_val_remote = "User Name Already Exists!", data_val_remote_url = "/AccountManagement/IsValidNewUserName" })
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email, new { data_val = "true", data_val_remote = "Email Address Already Exists!", data_val_remote_url = "/AccountManagement/IsValidNewEmailAddress" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password, new {@class = "PasswordStrengthCheck"})
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="PasswordStrengthListItem">
			                @Html.Partial("PasswordStrengthCheck")
	   </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TermsAndConditions)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TermsAndConditions)
            @Html.ValidationMessageFor(model => model.TermsAndConditions)
        </div>

        <p>
            <input type="submit" value="Register" />
        </p>
    </fieldset>
}

<b>
    @Html.ActionLink("Already A Member Sign In Here", "SignIn", "AccountManagement")
</b>


@section scripts
{
    <script type="text/javascript">
        $(function () {
            Common.PasswordManagement();
        });
    </script>
}