﻿@model ID7Digital.EventBook.Services.ViewModels.ActivationEmailModel

@{
    ViewBag.Title = "WelcomeEmail";
}

<h2>WelcomeEmail</h2>

<p>Dear @Model.FirstName,</p>

<p>Congratulations!</p>

<p>Your Username is: @Model.UserName</p>
<p>Please Login at: @Model.LoginURL</p>

<p>If you forget your username or password you can get help by clicking the "problems logging in" link on the login page.</p>
