﻿<!DOCTYPE html>

<html>
<head>
   <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/js/noty")
        @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/modernizr")  
     <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
       @Styles.Render("~/bundles/css/site")
    @RenderSection("styles", false)
    
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon_new.ico")" />
</head>
    <body>
        <header>
            <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Event Book", "Index", "Event")</p>
            </div>
                </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        @RenderSection("scripts", false)
    </body>
</html>
