﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - EventBook</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js/noty")
    @Scripts.Render("~/bundles/jqueryval")


</head>
<body>

    <header>
        <div class="content-wrapper">
            <div class="float-left">
                @if (Request.IsAuthenticated)
                {
                    <p class="site-title"><a href="/AccountManagement" data-area="/AccountManagement/ProfileManagement">Event Book</a></p>
                }
                else
                {
                    <p class="site-title">@Html.ActionLink("Event Book", "Index", "Event")</p>
                }
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        @if (!Request.IsAuthenticated)
                        {
                            <li><a href="/Event/SignUp" data-area="/Event/SignUp">Register</a></li>

                        }


                        @if (Request.IsAuthenticated)
                        {
                            <li><input type="text" data-area="/Friend/SearchUser" class="search-user-base" value="search user or event" /></li>
                            <li><a title="Contact Info" href="/AccountManagement" data-area="/AccountManagement/AdditionalContactInformation">Account Settings</a></li>
                            <li><a title="Avatar" href="/AccountManagement" data-area="/AccountManagement/ProfilePicture">Avatar</a></li>
                            <li><a href="/AccountManagement/SignOut" data-area="/AccountManagement/SignOut" data-redirect="true">Log Off</a></li>

                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - EventBook</p>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)
</body>
</html>
