﻿<div id="PasswordStrengthContainer">
    <div id="PasswordStrengthProgressContainer">
        <div id="PasswordStrengthProgress">
        </div>
    </div>
    <div id="PasswordStrengthStatus" class="PasswordStrengthStatus">
        Invalid
    </div>
</div>