﻿@model ID7Digital.EventBook.Services.ViewModels.ActivationEmailModel
@{
    ViewBag.Title = "ResetPasswordRequest";
}


    <div class="span6">
	    <h1>Reset Password</h1>
	    <h2>Enter the username and Email address of the user account you wish to reset the password of.</h2>
	
	    @using (Html.BeginForm())
        {
		    @Html.ValidationSummary(false)	
		    <div>
			
			    <ul style="list-style:none;">
				    <li>
					    @Html.LabelFor(x => x.UserName)
                        @Html.TextBoxFor(x => x.UserName)
				    </li>
				    <li>
					    @Html.LabelFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email)
				    </li>
				    <li>
                        <ul style="list-style:none;">
                            <li>
                                <button type="submit" class="submit">Reset Password</button>
                            </li>
                        </ul>
				    </li>
			    </ul>
				
		    </div>
				
     }
    </div>       
