﻿@model ID7Digital.EventBook.Domain.Models.Account

@{
    ViewBag.Title = "ContactInformation";
}

<div id="ProfileManagement">

    @using (Html.BeginForm("SaveProfile", "AccountManagement", FormMethod.Post, new { @class = "contact-Information-Form", data_section = "ContactInformation" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.ID)

        <fieldset id="overview" class="editor small profile-Management">
            <legend><span>Name</span></legend>
            <div>
                @Html.LabelFor(x => x.Title)
                @Html.DisplayTextFor(x => x.Title)
            </div>

            <div>
                @Html.LabelFor(x => x.FirstName)
                @Html.DisplayTextFor(x => x.FirstName)
            </div>

            <div>
                @Html.LabelFor(x => x.LastName)
                @Html.DisplayTextFor(x => x.LastName)
            </div>

            <div>
                @Html.LabelFor(x => x.DisplayName)
                @Html.DisplayTextFor(x => x.DisplayName)
            </div>

            <div>
                @Html.LabelFor(x => x.JobTitle)
                @Html.DisplayTextFor(x => x.JobTitle)
            </div>

            <div class="buttons EditableButtonArea">
                <input type="button" value="Edit" class="btn" />
            </div>
        </fieldset>

        <fieldset id="overviewEdit" class="editor small profile-Management hiddenInput">
            <legend><span>Name</span></legend>
            <div>
            @{
                var selectList = (SelectList)ViewData["TitleEnums"];
           
                
                @Html.DropDownListFor(x => x.Title, selectList, (string)selectList.SelectedValue, "Text")
            }
            </div>
    
            <div>
                @Html.LabelFor(x => x.FirstName)
                @Html.TextBoxFor(x => x.FirstName)
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>

            <div>
                @Html.LabelFor(x => x.LastName)
                @Html.TextBoxFor(x => x.LastName)
                @Html.ValidationMessageFor(x => x.LastName)
            </div>

            <div>
                @Html.LabelFor(x => x.DisplayName)
                @Html.TextBoxFor(x => x.DisplayName)
            </div>

            <div>
                @Html.LabelFor(x => x.JobTitle)
                @Html.TextBoxFor(x => x.JobTitle)
            </div>
            <div class="buttons EditableButtonArea">
                
                <input type="submit" value="Save" class="btn" />
                <input type="button" value="Cancel" class="btn" />
            </div>

        </fieldset>
    }
</div>

