﻿@model ID7Digital.EventBook.Domain.Models.Account

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Details</title>
    </head>
    <body data-ng-app="main" data-ng-controller="RootController">
        <fieldset>
            <legend>Account</legend>
    
            <div style="font-size: 14px;" class="display-field">
              Welcome! @Html.DisplayFor(model => model.UserName)
            </div>
            <li data-ng-class="{active : activeViewPath==='/demo'}"><a href="#/demo">Demo</a></li>
            <li data-ng-class="{active : activeViewPath==='/account'}"><a href="#/account">Account Settings</a></li>
        </fieldset>
        <div data-ng-view=""></div>
        <p>
        </p>
    </body>
</html>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            EB.init();
        });
    </script>
}
