﻿@model ID7Digital.EventBook.Domain.Models.Account

@{
    Layout = null;
}

<div id="ProfileManagement">

@using (Html.BeginForm("SaveAvatar", "AccountManagement", FormMethod.Post, new { id = "EditAvatarImage", enctype = "multipart/form-data", target = "ImageUploadFrame" }))
{
    @Html.HiddenFor(x => x.ID)

    <fieldset id="Avatar" class="editor small profileManagement">
        <legend><span>Avatar</span></legend>
        <div>
            <div id="AvatarDisplay" class="topPadding">
                @Html.Action("ViewAvatar", "AccountManagement", new { ID = Model.ID })
            </div>

            <iframe id="ImageUploadFrame" name="ImageUploadFrame" frameborder="0" width="0" height="0"></iframe>

            <div class="buttons">
                <span class="btn btn-success fileinput-button">
                    <span>Change</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="ImageSelection" type="file" name="image" multiple="">
                @*</span>*@
                <input id="RemoveAvatar" type="button" value="Remove" class="btn" />
            </div>
        </div>
    </fieldset>
}

</div>
