﻿@using ID7Digital.EventBook.Domain.Utilities
@model IEnumerable<ID7Digital.EventBook.Services.ViewModels.FriendViewModel>

@{
    ViewBag.Title = "Friends";
}

<div class="friends-dialogue">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    <input type="button" value="Add As Friend" id="AddFriendButton" data-friend="@item.UserName" data-url="/Friend/AddFriend" data-user="@CurrentUser.UserInformation.AccountId" />
                </td>

            </tr>
        }

    </table>

</div>
