﻿#PasswordStrengthProgressContainer {
    border: 1px solid #D3D4D4;
    height: 10px;
    width: 155px;
    float: left;
    margin-top: 4px;
    margin-right: 10px;
}

#PasswordStrengthProgress {
    height: 10px;
    width: 0px;
}

#PasswordStrengthStatus {
    float: left;
    font-size: 14px;
}

#PasswordStrengthContainer {
    display: none;
    width: 100%;
    float: left;
}

.PasswordStrengthListItem {
    line-height: 0;
}

.PasswordStrengthListItem #PasswordStrengthStatus {
    padding-top: 8px;
}

#PasswordStrengthStatusDisplay.Weak,
#PasswordStrengthProgress.Weak {
    background-color: #DD7D82;
}

#PasswordStrengthStatusDisplay.Average,
#PasswordStrengthProgress.Average {
    background-color: #F9CD7F;
    color: black;
}

#PasswordStrengthStatusDisplay.Strong,
#PasswordStrengthProgress.Strong {
    background-color: #92EFC8;
    color: black;
}

#PasswordStrengthStatusDisplay.VeryStrong,
#PasswordStrengthProgress.VeryStrong {
    background-color: #4FC253;
}

#PasswordStrengthStatusDisplay {
    border: 1px solid #D3D4D4;
    padding: 2px;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}