﻿@using System.Web
@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

@if (Request.IsAuthenticated)
{
    <h3>Welcome @User.Identity.GetUserName() </h3>
}
else
{
    <h4>You are not logged in, Please use a service to log in.</h4>
    <hr />

    //get list of configured external authentication middleware
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>There are no external authentication services configured</p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Home"))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType"
                                name="provider" value="@p.AuthenticationType"
                                title="Log in using your @p.Caption account">
                            @p.AuthenticationType
                            </button>
                    }
                </p>
            </div>
        }
    }
}