﻿@model ID7Digital.EventBook.Services.ViewModels.SignInModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { id = "SignInForm" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SignInModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnableSSO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnableSSO)
            @Html.ValidationMessageFor(model => model.EnableSSO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsSigninRequest)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsSigninRequest)
            @Html.ValidationMessageFor(model => model.IsSigninRequest)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReturnUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReturnUrl)
            @Html.ValidationMessageFor(model => model.ReturnUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShowClientCertificateLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShowClientCertificateLink)
            @Html.ValidationMessageFor(model => model.ShowClientCertificateLink)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
